In [1]:
# H1: Data Science Tools and ecosystem

#  H1: Data Science Tools and ecosystem

In [2]:
#In this notebook, Data science tools and ecosystems are summarize

_objectives:_

* List popular languages for Data Science 
* List popular development environments
* List commonly used libraries for Data Science
* Exercies markdowns writing

H3: Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R.
4. Java

H3: Some of the commonly used libraries used by Data Scientists include:

        1. Pandas
        2. Scikit-learn
        3. Numpy
        4. Matplotlib

|Data Science Tools|
|------------------|
|Anaconda|
|Rstudio|
|Git|

H3: Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#this a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

# H2: Author

Jorge Ford